
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
	box-sizing: border-box;
	align-items: center;
}
.intro {
	font-family: 'PT Serif', "Time New Roman", Arial, sans-serif;
	color: #fff;
	background: #e8e9e9;
	padding-left: 10%;
	padding-right: 10%;
  text-align: center;
}

h4
{color:black;}

.container {
  display: flex;
  flex-direction: row;
	padding: 5px;
	background: rgb(121,116,129);
  border-radius: 15px;
	margin: 20px auto;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
	text-align: center;
}

.bgm h4, article h4{
	display:none;
}

.intro h4{
	display:block;
}

.item {
  width: 150px;
  height: 25px;
  margin: auto;
	color: #000;
	padding: 2px;
	margin: 5px;
	background: rgb(247,234,219);
	border-radius: 7px;
  justify-content: center;
}


@media screen and (max-width: 300px) {
	.container {
		flex-direction: column;
		justify-content: center;
	}
}



    p{
      color:#666666;
      font-family: 'PT Serif', "Time New Roman",Arial, sans-serif;
      font-weight: 200;
      text-align: center;
      font-size: 1em;
    }


    #first{
      color: black;
    }


    h1{
      font-family: 'Playfair Display',Arial, "Time New Roman", serif;
      font-weight: 700;
      font-size: 1.7em;
      text-align: center;
    }

    #caption{
      color:black;
      font-family:'PT Serif', Georgia, "Times New Roman", sans-serif;
      font-size:0.3em;
      font-style: italic;
      margin-top:0;
    }

    nav li{
      list-style-type: none;
      text-align: center;
      width: 100%;
      padding: 5px;
      background-color: rgb(247,234,219);
      margin: 0 auto;
      border: 2px solid #ffffff;
    }


    nav a:link, nav a:visited{
      color:rgb(159,151,139);
      font-weight: bold;
      text-decoration:none;
      font-family: 'Lobster', Helvetica, Arial, sans-serif;
    }

    nav a:hover, nav a:active{
      background-color:rgb(156, 126, 130);
        color:white;
    }

    .authorbox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
		padding: 5px;
		background: rgb(231,209,214);
		border-radius: 30px;
		margin: 20px auto;
		box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    }

    body{
      background-color: rgb(139, 151, 166);
      font-size: 1em;
    }


    #container{
      background-color:rgb(254,249,246);
      width:55%;
      margin:0 auto;
      padding:10px 15px;
      color:#666666;
      font-family: 'PT Serif', Arial,"Time New Roman", serif;
    }

     .joke{

       text-align: center;
       width: 50%;
       padding: 1px;
       background-color: rgb(254,249,246);
       margin: 0 auto;
       border: none;
       font-family: 'PT Serif', Arial,"Time New Roman", serif;
       font-size: .75em;
       color:#666666;
			 margin-top: 50px;
			 border-radius: 30px;
			 margin: 20px auto;
			 box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
     }

		 ul {
	list-style: none;
	text-align: center;
	font-family: 'Lobster',Helvetica, Arial, sans-serif;
	font-size:1em;
	font-weight: 100;
	color:#666666;
		 }


     a:link {
    text-decoration: none;
     }

      a:visited {
    text-decoration: none;
    }



    #header{
      text-align: center;
      width: 95%;
      padding:0;
      background-color: rgb(231,209,214);
      margin: auto;
      color:#666666;
      max-width: 700px;
    }

    #footer{
      text-align: center;
      width: 100%;
      padding: 1px;
      background-color: rgb(231,209,214);
      margin: 20px;
      border: none;
      font-size: .75em;
      color: #666666
    }

		.authorbox img {
		display: none;
		}

		.bgm {
		display: none;
		}

		article {
		margin-bottom: 0.7em;
		border-bottom: 1px solid #ccc;
		}

		article:last-of-type {
		border-bottom: none;
		}


@media screen and (min-width: 200px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }


		img {
			width:100%;
			margin-left: auto;
			margin-right: auto;
		}

		#footer{
		margin-left: auto;
		margin-right: auto;
		}
.intro{
	max-width: 300px;
  margin: auto;
}


}

@media screen and (min-width: 600px) {

    #container {
        width: 100%;
    }

    .authorbox img {
      display: block;
      width: 70%;
      margin-top: 0.5em;
    }

    .intro{
			max-width: 700px;
		}



    .authorbox {
      width: 25%;
      max-width: 300px;
      float: left;
      margin-right: 0;
    }

		.gallery img{
			width: 100%;
		}


			.gallery {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr ;
				grid-gap: 10px;
				grid-template-areas:
						"a b c d"
						"a b c d"
						"a b c d";
}



#a {
grid-area:a;
}


#b {
grid-area:b;
}



#c {
grid-area:c;
}



#d {
grid-area:d;
}


}


@media screen and (min-width:900px) {


	article {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		grid-gap: 10px;
		grid-template-areas:
				"a b ."
				"a b c"
				"a b .";


	}


	.authorbox {
		width: 400px;
		grid-area: a;
		margin: auto;
	}

	.intro {
		grid-area: b;
		text-align: center;
		border-radius: 30px;
		margin: auto;
		box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
	}

	.bgm {
		margin-top: auto;
		margin-bottom: auto;
		grid-area: c;
		display: block;
	}




.gallery {
width: 800px;
margin: 0 auto;
padding: 1px;
background: rgb(139, 151, 166);
margin-top: 50px;
}

.gallery > div {
position: relative;
float: left;
padding: 3px;
}

.gallery > div > img {
display: block;
width: 250px;

}
}



@media screen and (min-width:1200px) {


	article {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
		grid-gap: 10px;
		grid-template-areas:
				"a b ."
				"a b c"
				"a b .";


}

				.gallery {
				width: 1000px;
				margin: 0 auto;
				padding: 1px;
				background: rgb(139, 151, 166);
				margin-top: 50px;
				}

				.gallery > div {
				position: relative;
				float: left;
				padding: 3px;
				}

				.gallery > div > img {
				display: block;
				width: 550px;}


        .authorbox img{
         width:80%;
         margin:auto;
				}
				}
